<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
      h1{
          font-size: 50px;
      }
  </style>
</head>
<div class="jumbotron">
<div class="container">
<h1 class="navbar navbar-nav bg-light" class="bg-primary text-white"><b>Online Test Management System</b></h1>

<br>
<div class="navbar navbar-expand-xs bg-blue">

  <a routerLink="app-add-questions" routerLinkActive="active"><b>Add a new Question</b></a>
  <a routerLink="app-get-questions" routerLinkActive="active"><b>Get Question Details</b></a>
  <a routerLink="app-update-questions" routerLinkActive="active"><b>Update Question Details</b></a>
  <a routerLink="app-delete-questions" routerLinkActive="active"><b>Delete Question record</b></a>
  <a routerLink="app-list-questions" routerLinkActive="active"><b>Get all Questions Details</b></a>
</div>
</div>
</div>
<br>
<router-outlet></router-outlet>